.heading{
    font-size: 23px;
    width:100%;
    margin:10px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    font-family: cursive;
}
.note{
    font-size:large;
    color: black;
    font-family: cursive;

}
.copyright_footer{
    position: fixed;
    color: black;
    bottom: 0;
    font-family: cursive;
    
    font-size: 30px;
    text-align: center;
    text-shadow: 10px;
    width: 100%;
    background-color: plum;
    line-height: 10px;

}
body{
    background-color: powderblue;
}
canvas{
    border:10px ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    background-color: white;
}